.gameIconBottom{
        position: absolute;
       right:50%;
       padding:5px;
        top:50%;
        z-index:100;
        display:none;
        /*set display to inline-block to show it*/
        text-align: right;
        background-color: white;
        opacity: 0.2;
        font-size: 15px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitles{
        position: absolute;
        bottom: 0px;
        display:none;
        z-index:101;
        text-align: center;
        width: 100%;
        background-color: transparent;
        font-weight: bold;
        color: white;
        padding-bottom:2%;
}

#gameInstructions{
        position: absolute;
        bottom:50%;
        left:0%;
        background-color: white;
        opacity: 0.2;
        display: none;
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-right: 60px;
        z-index: 100;
        font-size: 15px;
        color :black;

}
/* #itemMenu{
        z-index: 100;
        position: absolute;
        background-color: black;
        opacity: 0.1;
       left:0%;
       padding:10px;
        top:0%;
       
}

.items{
        background-color: white;
        opacity: 1;
        margin: 5px;

}
 */
