.gameIconBottom{
        position: absolute;
       right:0px;
       padding:5px;
        bottom:0px;
        border: 3px solid;
        z-index:3;
        display:none;
        /*set display to inline-block to show it*/
        text-align: right;
        background-color: white;
        opacity: 0.2;
}
